.login_container{
    background-color: var(--primaryTC);
    color: var(--secondaryTC);
    padding: 1rem;
    border-radius: 15px;
}

.bx-x{
    position: relative;
    top: 5px;
    left: calc(50% - 10px);
}