.virtual_school_container{
  margin-top: 4rem;
  background-color: var(--secondaryCC);
  height: fit-content;
}

.admin_container{
  border-radius: 5px;
  color: var(--secondaryTC);
  height: 200vh;
}

.appBar {
  left: 0;
  right: 0;
  background-color: var(--primaryCC);
  overflow-x: hidden;
  color: var(--secondaryCC);
  margin-bottom: 2rem;
}

/* Estilos del toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
}

/* Estilos para los botones */
.button {
  color: white;
  text-transform: none;
}


.tabpanel{
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-top: 2rem;
  max-width: 1000px;
  height: fit-content;
}

.modal_container{
  background-color: white;
  border-radius: 8px;
  color: var(--secondaryTC);
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .virtual_school_container{
    margin-top: 6rem;
    height: fit-content;
  }
}