.header_container{
    height: calc(100vh - 4rem);
    background-image: url("/bg_tre1.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}



@media screen and (min-width: 768px) {
    .header_container{
        height: calc(100vh - 6rem);
    }
}