.navbar_container {
    background-color: var(--secondaryTC);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 4rem;
    justify-content: space-between;
  }
  
  .navbar_logo_container {
    width: 40%;
    max-width: 380px;
    padding: 1.2rem;
  }
  
  .navbar_menu_container{
    display: none;
  }

  .navbar_menu_links{
    gap: 2rem;
  }

  .link_active{
    color: var(--primaryHC);
  }

  .link_inactive{
    color: var(--secondaryCC);
  }

  .navbar_icon_container{
    width: 40%;
  }

  .navbar_icon_container a{
    color: var(--secondaryCC);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--secondaryCC);
    padding: .1rem;
    text-decoration: none;
  }
  
  .menu_access{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondaryCC);
    font-size: 40px;
  }


  @media screen and (min-width: 768px) {
    .navbar_container{
     height: 6rem; 
    }

    .navbar_menu_container {
      display: flex;
      width: calc(100% - 400px);
      border-bottom: 1px solid var(--secondaryCC);
      justify-content: flex-end;
      padding: 1rem 2rem;
      gap: 2.5rem;
    }

    .navbar_icon_container{
        display: flex;
        width: 230px;
        color: var(--secondaryCC);
        border-bottom: 1px solid var(--secondaryCC);
    }

    .menu_access{
      display: none;
    }

  }