.primary_btn{
    background: none;
    border: 2px solid var(--primaryC);
    padding: .4rem .8rem;
    color: var(--primaryC);
    border-radius: 20px;
    background-image: url("/destello.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: -200% 50%;
    transition: all .2s ease-in-out;
    height: 2.4rem;
}

.primary_btn:hover{
    background-position: 300% 50%;
    box-shadow: 0px 0px 5px var(--primaryC);
    transform: scale(1.05);
}

.yellow_btn{
    height: 2.4rem;
    border-radius: 20px;
    padding: .4rem .8rem;
    border: none;
    background-color: var(--primaryHC);
    color: var(--primaryCC);
}

.home_container{
    padding-top: 4rem;
}

.headBand_container{
    background-image: url("/bg_tre2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 12rem;
}

.headBand_info{
    padding: 1rem 2rem;
    color: var(--primaryC);
    justify-content: center;
}

.headBand_info a{
    text-decoration: none;
    color: var(--primaryC);
    margin: .2rem;
}

.headBand_info div{
    width: 98%;
    text-align: center;
    max-width: 370px;
}

.reset_password_container{
    background-color: var(--secondaryCC);
}

.reset_form_box{
    background-color: var(--primaryTC);
    color: var(--secondaryTC);
    padding: 2rem;
    border-radius: 8px;
}

.redirect_modal_info{
    border: 2px solid var(--primaryHC);
    border-radius: 20px;
    width: 90%;
    max-width: var(--maxW);
    overflow: hidden;
}

.redirect_section{
    width: 100%;
    max-width: calc((var(--maxW)/2) - 2px);
    padding: 1rem;
}

.redirect1{
    background-color: rgba(0, 0, 0, 0.822);
}

.redirect1 img{
    width: 60%;
    max-width: 220px;
}

.redirect2{
    background: url("/bg_tre3M.png") var(--primaryCC);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondaryCC);
}

.redirect2 p{
    filter: drop-shadow(0 0 4px var(--secondaryCC));
    font-style: italic;
    color: var(--secondaryTC);
    font-weight: 400;
}

.redirect2 h2{
    font-size: 40px;
    font-style: italic;
    margin: 2rem 0;
    color: var(--secondaryCC);
}


@media screen and (min-width: 768px) {
    .home_container{
        padding-top: 6rem;
    }

    .headBand_container{
        height: 9.45rem;
    }
    
    .headBand_info{
        justify-content: space-between;
    }

    .redirect_modal_info{
        height: 70vh;
    }

    .redirect2{
        padding: 2rem;
    }
}
