@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  max-width: var(--maxVW);
  margin: 0 auto;
  background-color: var(--secondaryTC);
}

:root {
  --primaryTC: #fff;
  --secondaryTC: #161616;
  --primaryC: #00FFBA;
  --secondaryC: #0D635F;
  --primaryCC: #0F3F76;
  --secondaryCC: #cccccc;
  --primaryHC: #ebc20f;
  --secondaryHC: #00FFFF;
  --maxW: 1200px;
  --maxVW: 1368px;
}

body {
  width: 100%;
  font-family: "Barlow Condensed";
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 12px;
  overflow-x: hidden;
  background-color: #000;
  color: var(--primaryTC);
}

.s_family{
  font-family: "Oswald", sans-serif;
}

/* universal style text  */
.bold {
  font-weight: bold;
}

.regular_w{
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.small{
  font-size: 10px;
}

.regular{
  font-size: 12px;
}

.big {
  font-size: 16px;
}

.x-big {
  font-size: 22px;
}

.xx-big {
  font-size: 30px;
}

.center{
  text-align: center;
}

/* universal style container */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.al-c {
  align-items: center;
}

.jf-c {
  justify-content: center;
}

.border {
  border: 1px solid var(--primaryTC);
}

.full-w {
  width: 100%;
  max-width: var(--maxW);
}

.full-h {
  height: 100%;
}

.full-vw {
  width: 100vw;
}

.full-vh {
  height: 100vh;
}

.round {
  border-radius: 3px;
}

.sm {
  width: 300px;
}

.md {
  width: 95%;
  max-width: 450px;
}

.lg {
  width: 800px;
}

.autoM{
  margin: 0 auto;
}

/* universar link style */
.btn_app {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

li{
  list-style: none;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.curtain.hide {
  opacity: 0;
  z-index: -1;
}

.curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 1;
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  background-color: rgba(15, 15, 15, 0.5);
  transition: all 0.3s ease-in-out;
}

.jf-sb{
  justify-content: space-between;
}

textarea {
  resize: none;
  padding: 0.3rem 0.8rem;
  color: var(--primary-text-color);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
 
  .regular {
    font-size: 14px;
  }

  .full-vw {
    width: 100%;
    max-width: 1368px;
  }

  .small{
    font-size: 12px;
  }
  
  .big {
    font-size: 18px;
  }
  
  .x-big {
    font-size: 25px;
  }

  .xx-big {
    font-size: 45px;
  }
}
