.metrics_container{
    background-image: url("/bg_tre6.jpg");
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0;
    color: var(--primaryCC);
}

.metrics_info_container{
    width: 100%;
    max-width: var(--maxW);
    gap: 3.5rem;
    padding: 2rem 0;
}

.metrics_first_section p{
    font-weight: 400;
    font-style: italic;
}

.metrics_second_sectión{
    row-gap: 1rem;
}

.metric_card_container{
    width: 47%;
    max-width: 300px;
}

.metric_card_container h5{
    border: 1px solid var(--primaryCC);
    border-radius: 8px;
    padding: .5rem 0;
    width: 60%;
    text-align: center;
}

.metric_card_container p{
    font-weight: 400;
    width: 70%;
    margin-top: .5rem;
    font-style: italic;
}